{% extends "::layout.html.twig" %}

{% block body %}

<h2>Gestion des paramètres</h2>

    <table class="table">
        <tr style="font-weight: bold;">
            <td>Logo</td>
            <td>Slogan</td>
            <td>Description</td>
            <td>Adresse</td>
            <td>Action</td>
        </tr>

        {% for parameter in parameters %}
        <tr>
            <td><img src="{{ image_url }}" /></td>
            <td>{{ parameter.slogan }}</td>
            <td>{{ parameter.description }}</td>
            <td>{{ parameter.adresse }}</td>
            <td>
                <a class="btn btn-xs btn-success" href="{{path("parameter-edit", {id:parameter.id})}}">Editer</a>
            </td>
        </tr>
        {% endfor %}

    </table>


{% endblock %}
