<!DOCTYPE html>
<html lang="fr">
<head prefix="og: http://ogp.me/ns#">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheet %}
        <link href="{{ asset("css/bootstrap.min.css") }}" rel="stylesheet"/>
        <link href="{{ asset("css/bootstrap-theme.min.css") }}" rel="stylesheet"/>
    {% endblock %}

    <meta/>
</head>
<body role="document">
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-collapse collapse">
            {% block navbar %}
                {% include ":Common:menu.html.twig" %}
            {% endblock %}
        </div>
    </div>
</div>
<div class="container theme-showcase" role="main">
    <div class="jumbotron">
        <div class="container">
            <div>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                {% endif %}
            </div>
            {% block fos_user_content %}{% endblock fos_user_content %}
            {% block body %}{% endblock %}
        </div>
    </div>
</div>
</body>

{% block javascript %}
    <script src="{{ asset("js/jquery-2.1.1.min.js") }}"></script>
    <script src="{{ asset("js/bootstrap.min.js") }}"></script>
{% endblock %}
</html>
