{% extends "::layout.html.twig" %}

{% block title %}Liste des clients{% endblock %}

{% block body %}
    <h2>Liste des clients</h2>
    <p class="text-right">
        <a class="btn btn-success right" href="{{ path("client.create") }}">Créer un nouveau client</a>
    </p>
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice bg-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <table class="table">
        <tr>
            <th>Id</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Date de naissance</th>
        </tr>
        {% for userClient in userClients %}
            <tr>
                <td>{{ userClient.id }}</td>
                <td>{{ userClient.firstName }}</td>
                <td>{{ userClient.user.email }}</td>
                <td>{{ userClient.birthDate|date("d m Y") }}</td>
                <td>
                    <a class="btn btn-xs btn-info" href="{{ path("client.edit", {id:userClient.id}) }}">Modifier</a>
                    <a class="btn btn-xs btn-danger" href="{{ path("user.delete", {id:userClient.user.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
