{% extends "::layout.html.twig" %}

{% block title %}Liste des categories{% endblock %}

{% block body %}
    <h2>Liste des catégories</h2>
    <p class="text-right">
        <a class="btn btn-success right" href="{{path("category_plug")}}">Créer une nouvelle catégorie</a>
    </p>
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <table class="table">
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        {% for category in categories %}
            <tr>
                <td>{{category.name}}</td>
                <td>{{category.description}}</td>
                <td>
                    <a class="btn btn-xs btn-success" href="{{path("category_plug", {id:category.id})}}">Editer</a>
                    <a class="btn btn-xs btn-danger" href="{{path("category_delete", {id:category.id})}}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
