{% extends "::base.html.twig" %}

{% trans_default_domain 'KaliBackBundle' %}
KaliBackBundle
{% block header_body %}
<div class="col-lg col-lg-12">
    <div class="col-12 col-lg-1"></div>
	<div class="col-12 col-lg-10">
            <h3> {{ 'profile.show.body_header'|trans }}</h3>
            <div>
                <div class="header-text text-margin">{{ 'profile.show.continue_creating'|trans }}</br></div>
                <a href="{{ path('kali_back_document_index') }}" class="btn btn-custom-gray">{{ 'profile.show.continue'|trans }}</a>
                <div class="header-text text-margin">{{ 'profile.show.text_header'|trans }}</div>
            </div>
            <div class="col-12 col-lg-1"></div>
    </div>
</div>
    <div class="clear"></div>
{% endblock header_body %}

{% block body %}
    <div class="row">
	<div class="col-12 col-lg-10 col-lg-offset-1">
    {% include "KaliBackBundle:Profile:show_content.html.twig" %}
    </div>
    <div class="col-12 col-lg-1"></div>
</div>
    {{ render(controller('KaliBackBundle:Default:footer', { 'max': 1 })) }}
{% endblock body %}
