{% trans_default_domain 'FamilyUserBundle' %}

<!--<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ person.firstname }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
</div>-->

<div class="row">
    <div class="col-12 col-lg-12">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>{{ 'profile.show.order'|trans }}</th>
                    <th>{{ 'profile.show.date'|trans }}</th>
                    <th>{{ 'profile.show.status'|trans }}</th>
                    <th>{{ 'profile.show.action'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{{ order.createDate|date("d-m-Y") }}</td>
                        {% set orderstatus = 'order_status.status_' ~ order.OrderStatus %}
                        <td>{{ orderstatus|trans }}</td>
                        <td>
                            {#profile.order.getdocument'|trans , #}
                            {# asset('/documents/pdf/invoice_') }}{{ document.documentName }}.{{ document.extension }}" rel="popover" data-content="Please clarify what should be opened by pressing this link." target="_blank">{{ 'profile.order.getinvoice'|trans }}</a><br>
            <a id="Review" data-original-title="Message" href="{{ asset('/documents/pdf/instruction_') }}{{ document.documentName }}.{{ document.extension }}" rel="popover" data-content="Please clarify what should be opened by pressing this link." target="_blank">{{ 'profile.order.getinstruction'|trans }}</a><br>
                            #}
                            {% if  order.document.documentName is defined %}
                                <a id="Review" data-original-title="Message" href="{{ asset('/documents/pdf/product/product_') }}{{ order.document.documentName }}.{{ order.document.extension }}" rel="popover" data-content="Please clarify what should be opened by pressing this link." target="_blank">{{ 'profile.retrieve_document'|trans({}, 'FamilyUserBundle') }}</a><br>
                                <a id="Review" data-original-title="Message" href="{{ asset('/documents/pdf/invoice/invoice_') }}{{ order.document.documentName }}.{{ order.document.extension }}" rel="popover" data-content="Please clarify what should be opened by pressing this link." target="_blank">{{ 'profile.download_invoice_duplicate'|trans({}, 'FamilyUserBundle') }}</a><br>
                                <a id="Review" data-original-title="Message" href="{{ asset('/documents/pdf/instruction/instruction_') }}{{ order.document.documentName }}.{{ order.document.extension }}" rel="popover" data-content="Please clarify what should be opened by pressing this link." target="_blank">{{ 'profile.retrieve_instruction'|trans }}</a><br>
                                <a id="Review" data-original-title="Message" href="{{ path('family_user_document_createnewdocumentbasedonold', {'id': order.id}) }}" rel="popover" data-content="Please clarify what should be opened by pressing this link.">{{ 'profile.create_new_document'|trans({}, 'FamilyUserBundle') }}</a><br>
                            {% else %}
                                {# lien vers le diagnostic #}
                                <a href="{{ path("family_user_diagnostic_diag") }}" >{{ 'profile.show.see_diag'|trans }}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="text-margin">{{ 'profile.show.guide_1'|trans }} <a href="{{ asset('/documents/guide_lignes.pdf') }}" class="links" target="_blank">{{'profile.show.guide_link'|trans }}</a> {{ 'profile.show.guide_2'|trans }} </div>

        <form class="form-horizontal clearfix">

            <div class="col-12 col-lg-12">
                <div class="form-group">
                    <label for="fos_user_profile_form_first_name" class="col-lg-4 control-labell required">{{ 'profile.show.firstname'|trans }}</label>
                    <div class="col-lg-8">
                        <input disabled type="text" value="{{ person.firstname }}" class="form-control" maxlength="255" required="required" name="fos_user_profile_form[first_name]" id="fos_user_profile_form_first_name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="fos_user_profile_form_first_name" class="col-lg-4 control-labell required">{{ 'profile.show.lastname'|trans }}</label>
                    <div class="col-lg-8">
                        <input disabled type="text" value="{{ person.lastname }}" class="form-control" maxlength="255" required="required" name="fos_user_profile_form[first_name]" id="fos_user_profile_form_first_name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="fos_user_profile_form_first_name" class="col-lg-4 control-labell required">{{ 'profile.show.email'|trans }}</label>
                    <div class="col-lg-8">
                        <input disabled type="text" value="{{ user.email }}" class="form-control" maxlength="255" required="required" name="fos_user_profile_form[first_name]" id="fos_user_profile_form_first_name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="fos_user_profile_form_first_name" class="col-lg-4 control-labell required">{{ 'profile.show.birthdate'|trans }}</label>
                    <div class="col-lg-8">
                        <input disabled type="text" value="{% if person.getBirthDate() is not empty %}{{ person.getBirthDate()|date('d-m-Y') }}{% endif %}" class="form-control" maxlength="255" required="required" name="fos_user_profile_form[first_name]" id="fos_user_profile_form_first_name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="fos_user_profile_form_first_name" class="col-lg-4 control-labell required">{{ 'profile.show.address'|trans }}</label>
                    <div class="col-lg-8">
                        <input disabled type="text" value="{% if person.address.addressOne is defined %}{{ person.address.addressOne }}{% endif %}" class="form-control" maxlength="255" required="required" name="fos_user_profile_form[first_name]" id="fos_user_profile_form_first_name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="fos_user_profile_form_first_name" class="col-lg-4 control-labell required">{{ 'profile.show.zipcode'|trans }}</label>
                    <div class="col-lg-8">
                        <input disabled type="text" value="{% if person.address.zipCode is defined %}{{ person.address.zipCode }}{% endif %}" class="form-control" maxlength="255" required="required" name="fos_user_profile_form[first_name]" id="fos_user_profile_form_first_name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="fos_user_profile_form_first_name" class="col-lg-4 control-labell required">{{ 'profile.show.city'|trans }}</label>
                    <div class="col-lg-8">
                        <input disabled type="text" value="{% if person.address.city is defined %}{{ person.address.city }}{% endif %}" class="form-control" maxlength="255" required="required" name="fos_user_profile_form[first_name]" id="fos_user_profile_form_first_name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="fos_user_profile_form_first_name" class="col-lg-4 control-labell required">{{ 'profile.show.country'|trans }}</label>
                    <div class="col-lg-8">
                        <input disabled type="text" value="{% if person.address.countryCode.countryDescription is defined %}{{ person.address.countryCode.countryDescription }}{% endif %}" class="form-control" maxlength="255" required="required" name="fos_user_profile_form[first_name]" id="fos_user_profile_form_first_name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="fos_user_profile_form_first_name" class="col-lg-4 control-labell required">{{ 'profile.show.phone'|trans }}</label>
                    <div class="col-lg-8">
                        <input disabled type="text" value="{{ person.mobilePhone }}" class="form-control" maxlength="255" required="required" name="fos_user_profile_form[first_name]" id="fos_user_profile_form_first_name">
                    </div>
                </div>

            </div>



        </form>

        <div class="form-group">
            <a href="{{ path('family_user_profile_edit') }}" class="btn btn-custom-gray">{{ 'profile.change'|trans }}</a>&nbsp;&nbsp;&nbsp;
            <a href="{{ path('family_user_profile_changepassword') }}" class="btn btn-custom-gray">{{ 'profile.edit.change_password'|trans }}</a>
        </div>

    </div>


    <script type="text/javascript">
        function popoverMessage(id)
        {
            $('#' + id).popover('toggle');
        }
        ;
    </script>
</div>